﻿<!DOCTYPE html>
<html>
<head>
    <base href="@(Url.Content("~/"))" />
    <title>@ViewData["Title"]</title>
    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/styles/kendo.css" rel="stylesheet" />
    @Html.Raw(ViewData["Styles"])
</head>
  <body>
    @RenderBody()
    <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])
    @RenderSection("scripts", required: false)   
  </body>
</html>
