<div id="application">
    <header id="app-header">
        <app-header></app-header>
    </header>
    <main>
        <nav id="app-nav">
            <app-nav></app-nav>
        </nav>
        <section id="app-view">
            <router-outlet></router-outlet>
        </section>
    </main>
</div>


