﻿<app-root>
   
</app-root>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <!-- Our webpack bundle -->
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
